@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';
@import 'fonts/font_fontawesome';
@import 'fonts/font_opensans';
@import 'fonts/font_intro';
@import 'pgwslider';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
table {
  td {
    padding: 5px;

    border: 1px solid #a4a4a4;
  }
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  .inner {
    height: 64px;

    border-top: 6px solid $orange;
    background-color: #313131;
  }
  .logo {
    font-size: 28px;

    display: block;

    padding-top: 11px;

    text-transform: uppercase;
    a {
      display: block;

      text-decoration: none;
    }
    span {
      font-family: $fiblc;
      line-height: 1;
    }
    .logo-white {
      margin-left: 13px;

      color: #fff;
    }
    .logo-red {
      color: $orange;
    }
  }
}

nav {
  ul {
    display: block;

    text-align: left;

    @extend .clearfix;
    li {
      font-family: $fibb;
      font-size: 14px;

      display: inline-block;

      margin: 0 15px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .headnav {
    padding-top: 15px;

    text-transform: uppercase;
    a {
      text-decoration: none;

      color: #fff;
    }
  }
}

section {
  padding: 0 0 $footer;
  .inner {
    padding: 30px 15px;

    background-color: #fff;
  }
}
.cat-description,
article {
  @extend .clearfix;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fibc;

    color: $dark-gray;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 180%;
  }
  h3 {
    font-size: 160%;
  }
  h4 {
    font-size: 140%;
  }
  h5 {
    font-size: 130%;
  }
  h6 {
    font-size: 110%;
  }
  ul,
  ol {
    padding: 0 0 0 36px;
    margin-bottom: 18px;
    li {
      margin: 0;
    }
  }
  ol {
    list-style-type: decimal;
    li {
      &:before {
        display: none;
      }
    }
  }
  ul {
    padding: 0 0 0 18px;

    list-style: none;
    li {
      position: relative;

      padding: 0 0 0 18px;
      &:before {
        font-size: 150%;
        font-weight: 700;

        position: absolute;
        top: -5px;
        left: -6px;

        content: '•';

        color: $red;
      }
    }
  }
  blockquote {
    font-family: $fiblc;

    margin: 0 0 18px;
    padding: 18px 18px 18px 36px;

    border-left: 5px solid $red;
    background-color: lighten($red, 30%);
  }

}
div,
article {
  &.hentry ,
  &.cat-description,
  &.type-post {
      img {
    border: 5px solid $red;
  }
  }
}

aside {
  background-color: #f5f5f2;
  &.col-md-4 {
    padding: 0;
  }
  .widget {
    padding: 30px 30px 0;
    h6 {
      font-family: $fibc;
      font-size: 18px;

      margin: 0 -30px 30px;
      padding: 0 30px 25px;

      text-transform: uppercase;

      color: $dark-gray;
      border-bottom: 1px dotted #cececc;
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }
  .widget_search {
    .search-input {
      width: 95%;
    }
  }
  .widget-last-news {
    li {
      margin: 0 -30px;
      padding: 20px 30px;

      border-bottom: 1px dotted #cececc;
      h4 {
        a {
          font-family: $fibc;
          font-size: 18px;

          margin: 0 0 18px;

          text-transform: uppercase;

          color: $dark-gray;
          &:hover {
            text-decoration: none;

            color: $red;
          }
        }
      }
      .comments {
        font-size: 12px;

        color: #8d8d8d;
      }
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
.category-looper {
  .looper {
    overflow: hidden;

    height: 135px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-left: 0;

    border-bottom: 1px dotted #cececc;
    .feature-img {
      float: left;
      overflow: hidden;

      width: 150px;
      height: 120px;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
    h2 {
      font-size: 13px;

      position: relative;

      float: right;

      width: 180px;
      height: 100%;
      a {
        display: block;

        width: 100%;
        /* padding-left: 15px; */

        text-align: center;
        text-align: left;

        color: $dark-gray;

        @extend .align-center;
        &:hover {
          text-decoration: none;

          color: $red;
        }
      }
    }
    p {
      display: none;
    }
    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(9) {
      height: 435px;
      padding-left: 15px;

      border-color: transparent;
      .feature-img {
        display: block;
        float: none;

        width: 100%;
        height: 220px;
        margin: 0 0 20px;
        img {
          width: 100%;
          min-height: 220px;
        }
      }
      h2 {
        font-size: 18px;

        float: none;

        width: auto;
        height: auto;
        margin: 0 0 20px;
        a {
          position: relative;
          top: 0;
          left: 0;

          display: inline;

          width: auto;
          padding: 0;

          transform: none;
          text-decoration: none;

          color: $red;
          &:hover {
            color: $dark-gray;
          }
        }
      }
      p {
        display: block;
        overflow: hidden;

        height: 126px;
      }
    }
  }
}
.view-article {
  text-decoration: none;

  color: #000;
  &:hover {
    text-decoration: none;

    color: #000;
  }
}
.looper {
  @extend .clearfix;
}
.home-slider {
  margin: 0 auto 5px;
  padding-right: 0;
}
.pgwSlider {
  overflow: hidden;

  height: 360px;
  .ps-current {
    width: 66%;
    ul {
      /* overflow: hidden; */
    }
    .ps-caption {
      font-family: $fibc;
      font-size: 24px;

      bottom: 35px;
      left: 30px;

      padding: 0 0 20px;

      color: #fff;
      background-color: transparent;
      &:before {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 90px;
        height: 5px;

        background-color: #fff;

        @extend .dblock;
      }
      b,
      br {
        display: none;
      }
      a {
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .ps-list {
    width: 32.7%;
    li {
      position: relative;

      overflow: visible;

      background-color: #e3e3df;
      &:before {
        position: absolute;
        top: 50%;
        left: -6px;

        margin-top: -8px;

        opacity: 0;

        @extend .dblock;
        @include triangle(16px 8px, $red, left);
      }
      img {
        display: none;
      }
      a {
        position: relative;

        display: block;

        width: 100%;
        height: 100%;
      }
      span {
        font-family: $fibb;
        font-size: 15px;

        display: block;

        width: 80%;

        color: $dark-gray;
        background-color: transparent;

        @extend .align-center;
      }
      &.current-slide {
        background-color: $red;
        &:before {
          opacity: 1;
        }
        span {
          color: #fff;
        }
      }
    }
  }
}

.cat-title {
  font-family: $fiblc;
  font-size: 22px;

  margin: 0 0 20px;
  padding: 0 0 20px;

  text-transform: uppercase;

  color: $dark-gray;
  border-bottom: 6px solid $red;
  a {
    text-decoration: none;

    color: $dark-gray;
  }
}
.home-loop-title {
  font-family: $fibb;
  font-size: 22px;

  margin: 0 0 20px;
  padding: 0 0 20px;

  text-transform: uppercase;

  color: $dark-gray;
  border-bottom: 5px solid $red;
}
.single-cat-title {
  font-family: $fibb;
  font-size: 20px;

  margin: 0 0 20px;

  text-transform: uppercase;

  color: $dark-gray;
  a {
    text-decoration: none;

    color: $dark-gray;
  }
}
.single-title {
  font-family: $fibb;
  font-size: 32px;

  margin: 0 0 20px;
  padding: 0 0 20px;

  text-transform: uppercase;

  color: $red;
  border-bottom: 5px solid $red;
}
.related-block {
  h6 {
    font-family: $fibc;
    font-size: 18px;

    margin: 0 0 20px;
    padding: 0 0 20px;

    text-transform: uppercase;

    color: $dark-gray;
    border-bottom: 5px solid $red;
  }
  .related-block-inner {
    font-size: 15px;

    opacity: .9;
    a {
      font-family: $fibb;

      color: $dark-gray;
    }
    img {
      width: 100%;
      height: 150px;
      margin: 0 0 15px;
      border: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.cat-description {
  padding: 30px 0 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fibc;
    font-size: 18px;

    margin: 0 0 18px;

    color: $dark-gray;
  }
}
.pagination-row {
  padding: 0 15px;
}
.pagination {
  padding: 10px 0 15px;

  text-align: center;

  background-color: #fafafa;
  a,
  span {
    font-size: 15px;

    margin: 0 5px;
    padding-bottom: 10px;

    text-decoration: none;

    color: $dark-gray;
    border-bottom: 5px solid transparent;
    &.current {
      font-weight: $f-xbold;

      border-color: $orange;
    }
    &.next,
    &.prev {
      font-weight: $f-bold;
    }
    &:hover {
      color: $red;
    }
  }
}

footer {
  height: $footer;
  margin: $footer_margin auto 0;
  .inner {
    height: $footer;

    border-top: 6px solid $orange;
    background-color: #000;
  }
  .copyright {
    font-family: $fib;

    padding-top: 23px;

    color: $light-gray;
  }
  .footer-nav,
  .social {
    display: inline-block;
    li {
      display: inline-block;
    }
  }
  .footer-nav {
    padding-top: 18px;

    text-transform: uppercase;

    color: #fff;
    li {
      margin: 0 14px;
    }
    a {
      font-family: $fir;

      color: $light-gray;
      border-bottom: 1px dotted transparent;
      &:hover {
        text-decoration: none;

        border-color: $orange;
      }
    }
  }
  .social {
    padding-top: 15px;

    text-align: center;
    .fa {
      line-height: 2;

      display: block;

      height: 100%;

      color: #000;
    }
    li {
      width: 30px;
      height: 30px;
      margin: 0 5px;

      text-align: center;

      border-radius: 1px;
      background-color: #a4a4a4;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: darken(#a4a4a4, 10%);
        .fa {
          color: $orange;
        }
      }
    }
  }
}

@import 'import/print';
